* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body header {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0;
}
body header nav {
  gap: 150px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header nav a img {
  width: 150px;
}
body header nav .navbarHead ul .dropdownHover .dropdownAria {
  display: none;
  position: relative;
}
body header nav .navbarHead ul .dropdownHover .dropdownAria .links {
  position: absolute;
  top: 10px;
  left: 30px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 110px;
  height: 120px;
  justify-content: center;
  align-items: start;
  padding-left: 20px;
  gap: 4px;
}
body header nav .navbarHead ul .dropdownHover .dropdownAria .links a {
  color: black !important;
  font-size: 14px;
  font-weight: 600;
}
body header nav .navbarHead ul .dropdownHover:hover .dropdownAria {
  display: block;
  position: relative;
}
body header nav .navbarHead ul .dropdownHover:hover .dropdownAria .links {
  position: absolute;
  top: 0px;
  left: 30px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 110px;
  height: 120px;
  justify-content: center;
  align-items: start;
  padding-left: 20px;
  gap: 4px;
}
body header nav .navbarHead ul .dropdownHover:hover .dropdownAria .links a {
  text-decoration: none;
  color: black !important;
  font-size: 14px;
  font-weight: 600;
}
body header nav .navbarHead ul li a {
  color: white !important;
  transition: 0.9s;
}
body header nav .navbarHead ul li a:hover {
  color: white !important;
  border-bottom: 1px solid white;
  transition: border-bottom 0.9s;
}
body header nav .navbarHead ul li .shop i {
  color: white;
  transition: 0.4s;
}
body header nav .navbarHead ul li .shop:hover i {
  color: navy;
  transition: 0.4s;
}
body header nav .navbarHead ul li .wishlist i {
  color: white;
  transition: 0.4s;
}
body header nav .navbarHead ul li .wishlist:hover i {
  color: red;
  transition: 0.4s;
}
body main #secOne {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/img/C5gsPJq.jpg);
  width: 100%;
  background-position: 0 -100px;
  height: 650px;
}
body main #secOne .layers .buyKalium {
  text-decoration: none;
  transition: 0.4s;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  bottom: 10px;
  z-index: 2;
  left: 10px;
  width: 130px;
  height: 45px;
  border-radius: 25px;
  border: transparent;
  background-color: rgb(8, 8, 8);
}
body main #secOne .layers .buyKalium i {
  font-size: 18px;
  color: chartreuse;
}
body main #secOne .layers .buyKalium h2 {
  padding-top: 5px;
  font-size: 16px;
  font-weight: 700;
  color: white;
}
body main #secOne .layers .buyKalium:hover {
  box-shadow: 0 0 5px 2px rgb(73, 73, 73);
  transition: 0.4s;
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  bottom: 10px;
  z-index: 2;
  left: 10px;
  width: 130px;
  height: 45px;
  border-radius: 25px;
  border: transparent;
  background-color: rgb(8, 8, 8);
}
body main #secOne .layers .buyKalium:hover i {
  font-size: 18px;
  color: chartreuse;
}
body main #secOne .layers .buyKalium:hover h2 {
  padding-top: 5px;
  font-size: 16px;
  font-weight: 700;
  color: white;
}
body main #secOne .secContent {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #secOne .secContent .contentOne {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #secOne .secContent .contentOne .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main #secOne .secContent .contentOne .content .line {
  transition: 0.4s;
  width: 2px;
  height: 120px;
  background-color: white;
}
body main #secOne .secContent .contentOne .content p {
  transition: 0.4s;
  padding-top: 10px;
  color: rgb(167, 167, 167);
  font-size: 12px;
  font-weight: 400;
}
body main #secOne .secContent .contentOne .content h2 {
  transition: 0.4s;
  color: white;
  font-size: 40px;
}
body main #secOne .secContent .contentOne .content button {
  transition: 0.4s;
  width: 180px;
  height: 45px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-weight: 600;
  outline: none;
  margin-top: 20px;
}
body main #secOne .secContent .contentOne .content button:hover {
  transition: 0.4s;
  cursor: pointer;
  width: 180px;
  height: 45px;
  background-color: yellow;
  color: white;
  border: 1px solid yellow;
  font-weight: 600;
  outline: none;
  margin-top: 20px;
}
body main #secOne .secContent .contentOne .content:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main #secOne .secContent .contentOne .content:hover .line {
  width: 2px;
  height: 120px;
  background-color: white;
  box-shadow: 0 0 10px 2px silver;
  transition: 0.4s;
}
body main #secOne .secContent .contentOne .content:hover p {
  text-shadow: 0 0 10px silver;
  padding-top: 10px;
  color: rgb(167, 167, 167);
  font-size: 12px;
  font-weight: 400;
  transition: 0.4s;
}
body main #secOne .secContent .contentOne .content:hover h2 {
  transition: 0.4s;
  text-shadow: 0 0 10px silver;
  color: white;
  font-size: 40px;
}
body main #secOne .secContent .contentOne .content:hover button {
  transition: 0.4s;
  box-shadow: 0 0 10px 2px silver;
  width: 180px;
  height: 45px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-weight: 600;
  outline: none;
  margin-top: 20px;
}
body main #secOne .secContent .contentOne .content:hover button:hover {
  box-shadow: 0 0 10px 2px silver;
  transition: 0.4s;
  width: 180px;
  height: 45px;
  background-color: yellow;
  color: white;
  border: 1px solid yellow;
  font-weight: 600;
  outline: none;
  margin-top: 20px;
}
body main #secTwo {
  width: 100%;
  padding: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #secTwo .secContent {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #secTwo .secContent .contentOne {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #secTwo .secContent .contentOne .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body main #secTwo .secContent .contentOne .content img {
  width: 60px;
  padding-bottom: 10px;
}
body main #secTwo .secContent .contentOne .content h2 {
  font-size: 25px;
  font-weight: 400;
}
body main #secTwo .secContent .contentOne .content p {
  font-size: 16px;
  color: gray;
  width: 220px;
}
body main #secThree {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #secThree .secContent {
  width: 90%;
}
body main #secThree .secContent .contentOne {
  display: flex;
  width: 100%;
}
body main #secThree .secContent .contentOne .firstContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main #secThree .secContent .contentOne .firstContent h2 {
  padding-left: 30px;
  font-size: 30px;
  font-weight: 400;
  width: 450px;
}
body main #secThree .secContent .contentOne .firstContent p {
  padding-left: 30px;
  font-size: 16px;
  width: 450px;
}
body main #secThree .secContent .contentOne .secondContent {
  display: flex;
  justify-content: end;
  align-items: end;
}
body main #secThree .secContent .contentOne .secondContent img {
  width: 100%;
}
body main #secThree .secContent .contentTwo {
  display: flex;
  width: 100%;
}
body main #secThree .secContent .contentTwo .firstContent img {
  width: 100%;
}
body main #secThree .secContent .contentTwo .secondContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main #secThree .secContent .contentTwo .secondContent h2 {
  padding-left: 30px;
  font-size: 30px;
  font-weight: 400;
  width: 450px;
}
body main #secThree .secContent .contentTwo .secondContent p {
  padding-left: 30px;
  font-size: 16px;
  width: 450px;
}
body main #secFour {
  width: 100%;
  padding: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #secFour .secContent {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main #secFour .secContent .contentOne .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main #secFour .secContent .contentOne .content p {
  font-size: 16px;
  color: rgb(31, 31, 31);
  font-weight: 500;
}
body main #secFour .secContent .contentOne .content h2 {
  font-size: 35px;
  font-weight: 400;
  color: black;
}
body main #secFour .secContent .contentTwo {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #secFour .secContent .contentTwo .content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
body main #secFour .secContent .contentTwo .content .image {
  position: relative;
  width: 250px;
  height: auto;
}
body main #secFour .secContent .contentTwo .content .image img {
  width: 100%;
}
body main #secFour .secContent .contentTwo .content .image .overlayMain {
  display: none;
}
body main #secFour .secContent .contentTwo .content .image .overlayMain .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 89, 255, 0.616);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main #secFour .secContent .contentTwo .content .image .overlayMain .overlay h2 {
  font-size: 20px;
  width: 150px;
  color: white;
}
body main #secFour .secContent .contentTwo .content .image .overlayMain .overlay p {
  color: white;
  font-size: 16px;
  font-weight: 600;
}
body main #secFour .secContent .contentTwo .content .image:hover {
  position: relative;
  width: 250px;
  height: auto;
}
body main #secFour .secContent .contentTwo .content .image:hover img {
  width: 100%;
}
body main #secFour .secContent .contentTwo .content .image:hover .overlayMain {
  display: block;
}
body main #secFour .secContent .contentTwo .content .image:hover .overlayMain .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 89, 255, 0.616);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main #secFour .secContent .contentTwo .content .image:hover .overlayMain .overlay h2 {
  font-size: 20px;
  width: 150px;
  color: white;
}
body main #secFour .secContent .contentTwo .content .image:hover .overlayMain .overlay p {
  color: white;
  font-size: 16px;
  font-weight: 600;
}
body main #secFive {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/assets/img/amsterdam-1.jpg);
  width: 100%;
  height: 250px;
  background-position: 0 -250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #secFive .secContent {
  width: 90%;
}
body main #secFive .secContent .contentOne .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
body main #secFive .secContent .contentOne .content h2 {
  color: white;
}
body main #secFive .secContent .contentOne .content p {
  color: white;
  width: 400px;
}
body main #secSix {
  background-color: yellow;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #secSix .secContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #secSix .secContent .contentOne {
  display: flex;
  justify-content: start;
  align-items: start;
}
body main #secSix .secContent .contentOne .content {
  display: flex;
  justify-content: start;
  align-items: start;
}
body main #secSix .secContent .contentOne .content form {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
body main #secSix .secContent .contentOne .content form h2 {
  font-size: 20px;
  color: rgb(1, 14, 192);
}
body main #secSix .secContent .contentOne .content form input {
  outline: none;
  width: 1000px;
  height: 50px;
  border: none;
  padding: 0 10px;
}
body main #secSix .secContent .contentOne .content form .dateInput input {
  outline: none;
  width: 498px;
  height: 50px;
  border: none;
  padding: 0 10px;
}
body main #secSix .secContent .contentOne .content form button {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: rgb(50, 106, 228);
  color: white;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  transition: 0.4s;
  outline: none;
}
body main #secSix .secContent .contentOne .content form button:hover {
  cursor: pointer;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: rgb(16, 79, 216);
  color: white;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  transition: 0.4s;
}
body main #secSeven {
  width: 100%;
  padding: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #secSeven .secContent {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main #secSeven .secContent .contentOne .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
body main #secSeven .secContent .contentOne .content p {
  font-size: 16px;
  color: rgb(31, 31, 31);
  font-weight: 500;
}
body main #secSeven .secContent .contentOne .content h2 {
  font-size: 35px;
  font-weight: 400;
  color: black;
}
body main #secSeven .secContent .search form {
  display: flex;
}
body main #secSeven .secContent .search form input {
  width: 300px;
  height: 40px;
  border: 1px solid black;
  padding-left: 5px;
  outline: none;
}
body main #secSeven .secContent .search form button {
  width: 80px;
  outline: none;
  height: 40px;
  border: 1px solid black;
  background-color: yellow;
  font-weight: 700;
  transition: 0.4s;
}
body main #secSeven .secContent .search form button:hover {
  cursor: pointer;
  transition: 0.4s;
  width: 80px;
  outline: none;
  height: 40px;
  color: yellow;
  border: 1px solid yellow;
  background-color: black;
  font-weight: 700;
}
body main #secSeven .secContent .contentTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body main #secSeven .secContent .contentTwo .content {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px;
  width: 300px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
body main #secSeven .secContent .contentTwo .content img {
  width: 200px;
}
body main #secSeven .secContent .contentTwo .content h2 {
  font-size: 25px;
}
body main #secSeven .secContent .contentTwo .content h3 {
  font-size: 20px;
  color: gray;
}
body main #secSeven .secContent .contentTwo .content p {
  font-size: 16px;
  color: chocolate;
  font-weight: 600;
}
body main #secSeven .secContent .contentTwo .content .basket {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
body main #secSeven .secContent .contentTwo .content .basket button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 35px;
  color: black;
  border: 1px solid yellow;
  outline: none;
  transition: 0.4s;
  background-color: yellow !important;
  font-weight: 700;
  font-size: 14px;
}
body main #secSeven .secContent .contentTwo .content .basket button:hover {
  width: 110px;
  height: 35px;
  color: yellow;
  border: 1px solid yellow;
  outline: none;
  transition: 0.4s;
  background-color: black !important;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}
body main #secSeven .secContent .contentTwo .content .basket i {
  color: gray;
  font-size: 18px;
  transition: 0.4s;
}
body main #secSeven .secContent .contentTwo .content .basket i:hover {
  color: red;
  font-size: 18px;
  transition: 0.4s;
}
body footer {
  background-color: silver;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body footer #secFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body footer #secFooter .content {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) and (min-width: 300px) {
  body header nav {
    display: flex;
    gap: 70px;
  }
  body header nav a img {
    width: 100px;
  }
  body main #secOne .layers {
    display: none;
  }
  body main #secTwo {
    width: 100%;
  }
  body main #secTwo .secContent {
    width: 80%;
  }
  body main #secTwo .secContent .contentOne .content h2 {
    font-size: 20px;
    width: 280px;
  }
  body main #secTwo .secContent .contentOne .content p {
    width: 100px;
  }
  body main #secThree .secContent .contentOne {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  body main #secThree .secContent .contentOne .firstContent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  body main #secThree .secContent .contentOne .firstContent h2 {
    width: 300px;
  }
  body main #secThree .secContent .contentOne .firstContent p {
    width: 300px;
  }
  body main #secThree .secContent .contentOne .secondContent {
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: center;
  }
  body main #secThree .secContent .contentTwo .firstContent {
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: center;
  }
  body main #secThree .secContent .contentTwo .secondContent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  body main #secThree .secContent .contentTwo .secondContent h2 {
    width: 300px;
  }
  body main #secThree .secContent .contentTwo .secondContent p {
    width: 300px;
  }
  body main #secFive .secContent .contentOne .content h2 {
    font-size: 20px;
  }
  body main #secFive .secContent .contentOne .content p {
    font-size: 14px;
    width: 300px;
  }
  body main #secSix .secContent .contentOne .content form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body main #secSix .secContent .contentOne .content form h2 {
    font-size: 18px;
  }
  body main #secSix .secContent .contentOne .content form input {
    width: 300px;
  }
  body main #secSix .secContent .contentOne .content form .dateInput {
    display: flex;
    padding: 0 10px;
  }
  body main #secSix .secContent .contentOne .content form .dateInput input {
    width: 150px;
  }
  body main #secSeven .secContent .search form input {
    width: 200px;
  }
}
@media screen and (max-width: 991px) and (min-width: 600px) {
  body header nav {
    display: flex;
    gap: 50px;
  }
  body header nav a img {
    width: 100px;
  }
  body main #secOne .layers {
    display: none;
  }
  body main #secTwo .secContent .contentOne .content h2 {
    font-size: 20px;
    width: 300px;
  }
  body main #secTwo .secContent .contentOne .content p {
    width: 100px;
  }
  body main #secThree .secContent .contentOne {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  body main #secThree .secContent .contentOne .firstContent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  body main #secThree .secContent .contentOne .firstContent h2 {
    width: 300px;
  }
  body main #secThree .secContent .contentOne .firstContent p {
    width: 300px;
  }
  body main #secThree .secContent .contentTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  body main #secThree .secContent .contentTwo .firstContent {
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: center;
  }
  body main #secThree .secContent .contentTwo .secondContent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  body main #secThree .secContent .contentTwo .secondContent h2 {
    width: 300px;
  }
  body main #secThree .secContent .contentTwo .secondContent p {
    width: 300px;
  }
  body main #secFive .secContent .contentOne .content h2 {
    font-size: 20px;
  }
  body main #secFive .secContent .contentOne .content p {
    font-size: 14px;
    width: 300px;
  }
  body main #secSix .secContent .contentOne .content form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body main #secSix .secContent .contentOne .content form h2 {
    font-size: 18px;
  }
  body main #secSix .secContent .contentOne .content form input {
    width: 300px;
  }
  body main #secSix .secContent .contentOne .content form .dateInput {
    display: flex;
    padding: 0 10px;
  }
  body main #secSix .secContent .contentOne .content form .dateInput input {
    width: 150px;
  }
  body main #secSeven .secContent .search form input {
    width: 200px;
  }
}